<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944265621342-trff2cmvlkkmbg9i1d4p5idttnt6dre7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944265621342-trff2cmvlkkmbg9i1d4p5idttnt6dre7</string>
	<key>API_KEY</key>
	<string>AIzaSyAi50oiUrwbXCVB-nlbsCiCC3WJQIatBoI</string>
	<key>GCM_SENDER_ID</key>
	<string>944265621342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jocampos.firebase</string>
	<key>PROJECT_ID</key>
	<string>ebac-curso</string>
	<key>STORAGE_BUCKET</key>
	<string>ebac-curso.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944265621342:ios:7733a88caa78e591b9e9cf</string>
</dict>
</plist>